body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f7f7f7;
    font-family: Arial, sans-serif;
    margin: 0;
    background-image: url(img/44.avif);
    background-size: cover;
    overflow: hidden;
}

.login-container {
    width: 360px;
    padding: 40px;
    background-color: #d0cbcb;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.login-container h2 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
    text-align: center;
}

.login-container input[type="email"],
.login-container input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
}

.login-container input[type="email"]:focus,
.login-container input[type="password"]:focus {
    border-color: #007BFF;
    outline: none;
}

.login-container button {
    width: 100%;
    padding: 10px;
    background-color: #007BFF;
    border: none;
    color: white;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.login-container button:hover {
    background-color: #0056b3;
}

.login-container p {
    margin-top: 20px;
    font-size: 14px;
    text-align: center;
}

.login-container p a {
    color: #007BFF;
    text-decoration: none;
}

.login-container p a:hover {
    text-decoration: underline;
}